@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
    color: #fff;
}

h1 {
    cursor: default;
}

.margin {
    margin-top: 90px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
    padding: 20px 40px;
    background-color: #333333;
    border-radius: 10px;
}

.container.expandido {
    height: 465px;
}

label {
    padding: 10px 0 10px 0;
}

input {
    padding: 0 10px;
    border-radius: 5px;
    height: 25px;
    font-size: 12px;
    outline: none;
    border: none;
}

select {
    padding: 0 10px;
    border-radius: 5px;
    height: 25px;
    font-size: 12px;
    outline: none;
    border: none;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
}

.botao-calculadora {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

button {
    width: 100px;
    height: 30px;
    background-color: #B70816;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    
}

button:hover {
    background-color: #890304;
    cursor: pointer;
}

p {
    text-align: center;
    margin-top: 10px;
}

.voltar-avancar {
    display: flex;
    justify-content: center;
}

.voltar-avancar a {
    width: 100px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    background-color: #B70816;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    transition: 0.3s ease-in-out;
}

.voltar-avancar a:hover {
    background-color: #890304;
}

.seta-voltar {
    position: absolute;
    top: 10px;
    left: 10px;
}

.seta-voltar a {
    font-size: 18px;
    color: #fff;
}

.container-crescente {
    display: flex;
    flex-direction: column;
    height: 330px;
    width: 500px;
    padding: 20px 40px;
    background-color: #333333;
    border-radius: 10px;
}

.container-cadastro {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 500px;
    padding: 20px 40px;
    background-color: #333333;
    border-radius: 10px;

    & .radio {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

.erro {
    border: 2px solid #B70816;
}

.erro-mensagem {
    color: #B70816;
    font-size: 12px;
    margin-top: 5px;
}